.wp-block-gutenberg-examples-example-02-stylesheets {
    color: green;
    background: yellow;
    border: 2px solid #9c9;
    padding: 20px;
}

.wp-block-jsc-courses-custom-image {
    background: lightcoral;
}
