@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.outer {
    display: none;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    animation: fadeInAnimation ease 0.8s;
    z-index: 100;
}

.outercenter {
    /* background: lightgreen; */
    display: flex;
    /* padding: 10px; */
    justify-content: center;
    flex-direction: column;
}

.jsc-lightbox {
    max-height: 80vh;
    max-width: 80vw;
}

.outerx {
    /* padding: 10px; */
    /* /* margin: 5px; */
    display: flex;
    justify-content: flex-end;
    /* display: inline-block; */
}
